:root {
    --font-family: "Poppins", sans-serif;
    --color-white: #f3f3f3;
    --color-blue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;

    --accent-left: rgba(58, 58, 158, 0.8);
    --accent-right: rgba(136, 136, 206, 0.7);

    --size-subheading: 1.25rem;
    --size-label: 1.25rem;
}

*, 
::before,
::after
{
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.6;
    background: linear-gradient(115deg, var(--accent-left), var(--accent-right)), 
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-white);
    margin: 0;
}

button, 
input, 
textarea,
select {
    font-family: inherit;
}

/* Utilities */

.container {
    margin: 3.125rem;
}

.text-center {
    text-align: center !important;
}

.description {
    font-size: var(--size-subheading);
    margin: 1rem auto;
}
/*1rem = 16px*/

header {
    padding: 2rem 1rem 1rem 1rem; 
    text-shadow: 1px 1px #333333;
}

/*line-height typographical element*/

h1 {
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

/* Form */
form {
    background: var(--color-darkblue-alpha);
    padding: 2.5rem 0.625rem;
    border-radius: 0.3rem;
    width: 50%;
    margin: auto;
}

/*what is column flex-direction?*/
/*stack on top of each other*/
/*default flex setting row-wise*/

.form-group { 
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.form-group p {
    line-height: 1;
    margin: 0.5rem 0.1rem;
}

.form-group p:not(:nth-child(1)) {
    margin: 0.5rem 0;
}

.form-label {
    font-size: var(--size-label);
}

.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    height: 2.5rem;
    padding: 0.375rem 0.75rem;
    border-radius: 0.3rem;
    border: 1px solid #dddddd;
    margin-top: 0.4rem;
}

input[type="radio"],
input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}

textarea {
    font-size: 1.2rem;
    padding: 0.375rem 0.75rem;
    width: 100%;
    height: auto;
    border: none;
    margin: 0.5rem 0;
}

button {
    background-color: var(--color-green);
    border: none;
    cursor: pointer;
    color: var(--color-white);
    padding: 0.75rem;
    font-size: var(--size-label);
}


